.aui-list-item-input{
	position: relative;
}
.aui-list-item-input input.icon-input{
	padding-left: 2rem;
	    color: #fff;
}
.aui-list-item-input .icon{
	display: inline-block;
	width: 28px;
	height: 42px;
	position: absolute;
	top: 4px;
	left: 5px;
}
.aui-list-item-input .icon.tel{
	background: url(../img/icon-phone.png) no-repeat center;
	background-size: 50%;
}
.aui-list-item-input .icon.suo{
	background: url(../img/icon-suo.png) no-repeat center;
	background-size: 50%;
}
.aui-list-item-input .icon.suo{
	background: url(../img/icon-suo.png) no-repeat center;
	background-size: 50%;
}
